@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    display: flex;
    justify-content: center;
    background-image: url(/img/bg.png);
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.dark .form-container {
    width: 350px;
    border-radius: 15px;
    background-color: #160a28;
    padding: 2rem;
    color: #ffffff;
    margin-top: 8.5rem;
    box-shadow: 30px 20px #ffffff;
}
  
.dark .title {
    text-align: center; 
    font-size: 30px;
    line-height: 2rem;
    font-weight: 700;
    margin-top: -2.6rem;
}
  
.dark .form {
    margin-top: 25px;
}
  
.dark .inputs {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
  
.dark .inputs label {
    display: block;
    color: rgb(255, 255, 255), 209;
    margin-bottom: 4px;
}
  
.dark .inputs input {
    width: 90%;
    border-radius: 0.375rem;
    border: 2px solid #0f0019;
    outline: 0;
    background-color: #0f0019;
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
}
  
.dark .inputs input:focus {
    border-color: #820ad1;
    transition: 1s;
}
  
.dark .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
}
  
.dark .forgot a,.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
}
  
.dark .forgot a:hover, .signup a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
}
  
.dark .sign {
    display: block;
    width: 100%;
    background-color: #820ad1;
    padding: 0.75rem;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
}
  
.dark .social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
  
.dark .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
}
  
.dark .social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #ffffff;
}
  
.dark .social-icons {
    display: flex;
    justify-content: center;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(102%) contrast(104%);
}
  
.dark .social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
}
  
.dark .social-icons .icon svg {
    height: 1.90rem;
    width: 1.90rem;
    fill: #fff;
}
  
.dark .signup {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #000000; 
}

.dark .theme-checkbox {
    --toggle-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #313131 50%, #ffffff 50%) no-repeat;
    background: linear-gradient(to right, #313131 50%, #ffffff 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
}
  
.dark .theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ffffff), color-stop(50%, #ffffff)) no-repeat;
    background: -o-linear-gradient(left, #ffffff 50%, #ffffff 50%) no-repeat;
    background: linear-gradient(to right, #ffffff 50%, #ffffff 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
  
.dark .theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
}
  
.dark .theme-checkbox:checked {
    background-position: 100%;
}